<div class="row">
  <div class="col-md-4 mx-auto  my-auto">
    <%= form_with model: category do |form| %>
      <div>
        <%= form.label :name %><br>
        <%= form.text_field :name, class:"form-control" %>
        <%= render 'shared/error_messages', object: form.object %>
      </div>

      <div>
        <%= form.label :category_image %><br>
        <%= form.file_field :cat_image , class:"form-control" %>
      </div>

      <div>
        <%= form.submit class:"btn btn-success mt-4" %>
      </div>
    <% end %>
  </div>
</div>